@model IEnumerable<BlogEntity.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Approve Post</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowEdit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowEdit)
                </td>
                <td>
                    <a href="javascript:doApprove(@item.Id)">Approve</a>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<form id="frmapp" name="frmapp" method="post" action="/approve" style="display:none">
    <input type="text" id="blogid" name="blogid" value="0" />
</form>
<script>
    function doApprove(id) {
        var frm = document.getElementById("frmapp");
        frm.setAttribute("action", "/approve/approve/"+id);
        frm.submit();
    }
</script>